body{
    font:15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global */
.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height:38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

/* Header */
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header h1{
    margin: 0;
    float: left;
    
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .hightlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* Showcase */
#showcase{
    min-height: 400px;
    background: url(../img/showcase_1.jpg) no-repeat center fixed;
    color: #fff;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
   
   
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
    max-width: 75%;
}

/* Links */

#links{
   padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#links h1{
    float:left;
}

#links .myLinks{
    float: right;
    margin-top: 15px;
    
}

/* Boxes */

#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align: center;
    width:28%;
    padding:10px;
    margin-bottom: 10px;
    margin-left: 12px;
    box-shadow: 5px 5px 5px grey;
    border: 1px solid #E0E0E0;
    
}

#boxes .box img{
    width:90px;
}


/* Sidebar */
aside#sidebar{
    float:right;
    width:30%;
    margin-top: 10px;
}

/*aside #sidebar input, aside #sidebar textarea{
    width: 90%;
    padding: 5px;
}
*/
/* cards */

#main{
    float: left;
}
#card-holder{
   max-width: 75%;
    margin: auto;
}

#card-holder h2{
    border-bottom: 1px solid black;
}

.card{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #35424a;
    color: #fff;
}

#card_info{
    margin:auto;
}

.card h3{
    margin-bottom: 2rem; 
}

.card img{
    max-width: 300px;
}

.card:nth-child(even) img{
    order: 2;
}

.btn-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
}


.btn_2{
    display: block;
    width:85%;
    margin: auto;
    margin-bottom: .5rem;
    text-decoration: none;
    text-align: center;
    margin-top: .5rem;
    background: #e8491d;
    color: #fff;
}

.card h3{
    margin-top: 0;
    margin-bottom: .2rem;
}






